@model ShoppingCart.Models.LoginModel

<h2>Вход на сайт</h2>
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="list-inline-item">
            <label asp-for="Email" class="control-label ">Введите Email</label>
            <input type="text" class="form-control " asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"/>
        </div>
    </div>
    <div>
        <div class="list-inline-item">
            <label class="control-label" asp-for="Password">Введите пароль</label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"/>
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-primary mt-2" />
        </div>
</form>